* {
	animation: fade-in 0.5s ease-in;
}
body {
	margin: 0 auto;
	padding: 0;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	min-height: 100vh;
}
.header-container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	height: 110px;
	background-color: rgb(19, 140, 154);
}
.bio {
	display: grid;
	grid-column: 1;
}
.bio-details {
	font-family: 'Poiret One', sans-serif;
	font-size: 25px;
	margin: 0;
	color: rgb(236, 237, 230);
	text-align: center;
	padding-top: 38px;
}
.name {
	font-family: 'Barlow Condensed', sans-serif;
	color: rgb(236, 237, 230);
	font-size: 95px;
	text-align: center;
	margin: 0;
	display: grid;
	grid-column: 2;
	text-shadow: 1.5px 1.5px rgb(96, 93, 93);
}
.picture-container {
	display: grid;
	grid-column: 3;
}
.profile-picture {
	border-radius: 199px;
	border: 3px solid rgb(236, 237, 230);
	height: 150px;
	width: 150px;
	margin: 25px auto;
}
/* nav */
nav {
	background-color: rgb(236, 237, 230);
	text-align: center;
	padding: 20px;
}
li {
	font-family: 'Barlow Condensed', sans-serif;
	font-size: 30px;
	list-style-type: none;
	display: inline;
	padding: 0 30px;
	color: rgb(19, 140, 154);
	text-shadow: 1px 1px rgb(96, 93, 93);
}
li:hover {
	color: rgb(24, 23, 23);
	-webkit-transform: scale(1.2);
	-ms-transform: scale(1.2);
	transform: scale(1.2);
}
/* about */
.about {
	background-color: rgb(19, 140, 154);
	padding: 15px 0px;
}
.about-label {
	font-family: 'Barlow Condensed', sans-serif;
	font-size: 52px;
	text-align: center;
	margin: 0px;
	color: rgb(236, 237, 230);
	text-shadow: 1.5px 1.5px rgb(96, 93, 93);
}
.about-details {
	font-family: 'Poiret One', sans-serif;
	color: rgb(236, 237, 230);
	font-size: 19px;
	padding: 0px 190px 0px 190px;
	text-align: center;
	line-height: 30px;
}

/* skills */
.skills {
	background-color: rgb(19, 140, 154);
	padding: 15px 0px;
}
.skills-label {
	font-family: 'Barlow Condensed', sans-serif;
	font-size: 52px;
	text-align: center;
	margin: 0px;
	color: rgb(236, 237, 230);
	text-shadow: 1.5px 1.5px rgb(96, 93, 93);
}
.skills-details {
	display: flex;
	position: relative;
	justify-content: space-evenly;
	flex-wrap: wrap;
	width: 100%;
	color: rgb(236, 237, 230);
}
.fab:hover {
	color: rgb(24, 23, 23);
	-webkit-transform: scale(1.2);
	-ms-transform: scale(1.2);
	transform: scale(1.2);
}

/* projects */
.project-container {
	display: flex;
	position: relative;
	justify-content: center;
	flex-wrap: wrap;
	width: 100%;
	background-color: rgb(236, 237, 230);
	padding-bottom: 15px;
}
.project-label {
	font-family: 'Barlow Condensed', sans-serif;
	font-size: 52px;
	text-align: center;
	margin: 0px;
	color: rgb(19, 140, 154);
	background-color: rgb(236, 237, 230);
	padding: 15px;
	text-shadow: 1.5px 1.5px rgb(96, 93, 93);
}
.project {
	transition: all 0.3s ease;
	box-shadow: 6px 6px 8px rgb(96, 93, 93);
	margin: 20px;
	position: relative;
}
.link-container {
	background-color: rgb(19, 140, 154);
	padding: 6px;
	text-align: center;
	display: flex;
	position: relative;
	justify-content: space-around;
	flex-wrap: wrap;
}
.singlelink,
.singlelink:visited {
	font-family: 'Poiret One', sans-serif;
	text-decoration: none;
	background-color: rgb(236, 237, 230);
	border: 1px solid rgb(236, 237, 230);
	padding: 6px;
	border-radius: 4px;
	font-size: 16px;
	color: rgb(19, 140, 154);
}
.singlelink:hover {
	color: rgb(19, 140, 154);
	background-color: rgb(236, 237, 230);
}

.single:hover {
	-webkit-transform: scale(1.04);
	-ms-transform: scale(1.04);
	transform: scale(1.04);
}
img {
	width: 600px;
	height: 375px;
	display: block;
}
/* contact */
.contact {
	padding: 15px 0px 45px 0px;
	background-color: rgb(236, 237, 230);
}
.contact-label {
	font-family: 'Barlow Condensed', sans-serif;
	font-size: 52px;
	text-align: center;
	margin: 0px;
	color: rgb(19, 140, 154);
	padding-bottom: 15px;
	text-shadow: 1.5px 1.5px rgb(96, 93, 93);
}

label {
	font-size: 22px;
	color: rgb(236, 237, 230);
}

input[type='text'],
textarea {
	font-family: 'Poiret One', sans-serif;
	width: 100%;
	padding: 12px;
	border: 1.5px solid rgb(236, 237, 230);
	border-radius: 6px;
	box-sizing: border-box;
	margin-top: 6px;
	margin-bottom: 16px;
	resize: vertical;
	font-size: 20px;
}

.contact-form {
	font-family: 'Poiret One', sans-serif;
	border-radius: 5px;
	background-color: rgb(19, 140, 154);
	padding: 40px;
	width: 600px;
	margin: 0 auto;
	box-shadow: 6px 6px 8px rgb(96, 93, 93);
}

input[type='submit'] {
	font-family: 'Poiret One', sans-serif;
	background-color: white;
	font-size: 15px;
	font-weight: bolder;
	color: rgb(19, 140, 154);
	padding: 10px;
	border-radius: 4px;
	cursor: pointer;
	transition: all 0.3s ease;
}

input[type='submit']:hover {
	opacity: 0.8;
	border: 1.5px solid white;
	background-color: rgb(19, 140, 154);
	color: rgb(236, 237, 230);
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
}

/* footer */

footer {
	background-color: rgb(19, 140, 154);
	color: rgb(236, 237, 230);
	font-size: 25px;
	display: grid;
	grid-template-columns: 35% 1fr 1fr 1fr 35%;
	justify-content: space-around;
	text-align: center;
	height: 60px;
}
.footer-one {
	grid-column: 2;
}
.footer-two {
	grid-column: 3;
}
.footer-three {
	grid-column: 4;
}
.footer-one:hover,
.footer-two:hover,
.footer-three:hover {
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
}
.fab {
	display: grid;
	justify-content: center;
	padding-top: 13px;
	font-size: 35px;
}
a {
	text-decoration: none;
}
a:link {
	color: #ffffff;
}
a:visited {
	color: #ffffff;
}

@keyframes fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

/* media queries */
@media screen and (max-width: 1220px) {
	.name {
		font-size: 70px;
		padding-top: 8px;
	}
	.bio-details {
		font-size: 20px;
	}
	.about-label,
	.skills-label,
	.project-label,
	.contact-label {
		font-size: 47px;
	}
	.header-container {
		height: 85px;
	}
	.profile-picture {
		height: 110px;
		width: 110px;
	}
	img {
		width: 500px;
		height: 312.5px;
	}
	li {
		font-size: 25px;
	}
	.about-details {
		padding: 0px 120px;
	}
	.footer {
		font-size: 20px;
	}
	.project-label {
		font-size: 40px;
	}
	.link-container {
		padding: 4px;
	}
	.singlelink,
	.singlelink:visited {
		padding: 4px;
		font-size: 12px;
		border-radius: 4px;
	}
}

@media screen and (max-width: 1024px) {
	.name {
		font-size: 70px;
	}
	.bio-details {
		font-size: 20px;
		margin: 1px auto;
	}
	.header-container {
		height: 100px;
	}
	.profile-picture {
		height: 80px;
		width: 80px;
	}
	img {
		width: 450px;
		height: 281.25px;
	}
	li {
		font-size: 25px;
	}
	.about-details {
		padding: 0px 80px;
		font-size: 19px;
	}
	.about-label,
	.skills-label,
	.project-label,
	.contact-label {
		font-size: 42px;
	}
	.footer {
		font-size: 20px;
	}
	.project-label {
		font-size: 40px;
	}
	.contact {
		padding-bottom: 25px;
	}
	.contact-form {
		padding: 10px;
		width: 475px;
	}
	input[type='text'],
	textarea {
		padding-bottom: 10px;
		margin-bottom: 5px;
	}
	input[type='submit'],
	input[type='text'] {
		font-size: 11px;
		padding: 7px;
	}
	label {
		font-size: 15px;
	}
	textarea {
		font-size: 11px;
	}
	.link-container {
		padding: 4px;
	}
	.singlelink,
	.singlelink:visited {
		padding: 4px;
		font-size: 12px;
		border-radius: 4px;
	}
}

@media screen and (max-width: 768px) {
	.name {
		font-size: 50px;
		padding-top: 10px;
	}
	.bio-details {
		font-size: 13px;
		margin: 1px auto;
		padding-top: 30px;
	}
	.header-container {
		height: 80px;
	}
	.profile-picture {
		height: 95px;
		width: 95px;
		margin: 15px;
	}
	img {
		width: 300px;
		height: 187.5px;
	}
	li {
		display: block;
		font-size: 25px;
	}
	.about-details {
		font-size: 14px;
		padding: 0px 35px;
		text-align: center;
		line-height: 17px;
	}
	.about-label,
	.skills-label,
	.project-label,
	.contact-label {
		font-size: 37px;
	}
	.project:hover > .linklist {
		display: none;
	}
	.contact {
		padding-bottom: 25px;
	}
	.contact-form {
		padding: 10px;
		width: 375px;
	}
	input[type='text'],
	textarea {
		padding-bottom: 10px;
		margin-bottom: 5px;
	}
	input[type='submit'],
	input[type='text'] {
		font-size: 11px;
		padding: 7px;
	}
	label {
		font-size: 15px;
	}
	textarea {
		font-size: 11px;
	}
	.link-container {
		padding: 1px;
	}
	.singlelink,
	.singlelink:visited {
		padding: 1px;
		font-size: 8px;
		border-radius: 2px;
	}
}

@media screen and (max-width: 520px) {
	.name {
		font-size: 25px;
		padding-top: 5px;
	}
	.bio-details {
		font-size: 9px;
		margin: 1px auto;
		padding-top: 9px;
	}
	.header-container {
		height: 45px;
	}
	.profile-picture {
		height: 85px;
		width: 85px;
		margin: 6px;
	}
	img {
		width: 300px;
		height: 187.5px;
	}
	li {
		display: block;
		font-size: 20px;
	}
	.about-details {
		font-size: 10px;
		padding: 0px 15px;
		text-align: center;
		line-height: 13px;
	}
	.about-label,
	.skills-label,
	.project-label,
	.contact-label {
		font-size: 24px;
	}
	.project:hover > .linklist {
		display: none;
	}
	.contact {
		padding-bottom: 25px;
	}
	.contact-form {
		padding: 8px;
		width: 275px;
	}
	input[type='text'],
	textarea {
		padding-bottom: 7px;
		margin-bottom: 3px;
	}
	input[type='submit'],
	input[type='text'] {
		font-size: 8px;
		padding: 5px;
	}
	label {
		font-size: 12px;
	}
	textarea {
		font-size: 8px;
	}
	.link-container {
		padding: 3px 1px;
	}
	.singlelink,
	.singlelink:visited {
		padding: 1px;
		font-size: 6px;
		border-radius: 2px;
	}
}
