body {
    background-color: #979493;
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: repeat(150px 100px 700px 700px 700px 700px 700px 150px);
    margin: 0;
}
h1 {
    font-family: 'Barlow Condensed', sans-serif;
    background-color: #51504F;
    display: grid;
    justify-content: left;
    grid-row: 1;
    color: white;
    font-size: 150px;
    margin-top: 0;
    padding: 5px;
    margin: 0;
}
ul {
    margin: 5px;
    display: grid;
    grid-template-rows: 3fr;
    grid-template-columns: 50% 50%;
}
li {
    display: grid;
    grid-row: 2;
    font-size: 45px;
    list-style-type: none;
    font-family: 'Tulpen One', cursive;
    justify-content: center;
}
.about {
    grid-row: 1;
    grid-column: 1;
}
.projectnav {
    grid-row: 2;
    grid-column: 1;
}
.contact {
    grid-row: 3;
    grid-column: 1;
}
.resume {
    grid-row: 1;
    grid-column: 2;
}
.blog {
    grid-row: 2;
    grid-column: 2;
}
.projects {
    margin: 10px auto;
    grid-row-gap: 40px;
    background-size: cover;
    background-position: center;
}
.project-one {
    display: grid;
    justify-content: center;
    align-items: center;
    background-image: url(/Users/ellisonrio/sei/sandbox/ellisonr.github.io/dash-project-1.jpg);
    height: 400px;
    width: 700px;
    grid-row: 3;
    border: 4px solid white;
}
.project-two {
    display: grid;
    justify-content: center;
    align-items: center;
    background-image: url(/Users/ellisonrio/sei/sandbox/ellisonr.github.io/dash-project-2.jpg);
    height: 400px;
    width: 700px;
    grid-row: 4;
    border: 4px solid white;
}
.project-three {
    display: grid;
    justify-content: center;
    align-items: center;
    background-image: url(/Users/ellisonrio/sei/sandbox/ellisonr.github.io/dash-project-3.jpg);
    height: 400px;
    width: 700px;
    grid-row: 5;
    border: 4px solid white;
}
.project-four {
    display: grid;
    justify-content: center;
    align-items: center;
    background-image: url(/Users/ellisonrio/sei/sandbox/ellisonr.github.io/airbnb-project.jpg);
    height: 400px;
    width: 700px;
    grid-row: 6;
    border: 4px solid white;
}
.project-five {
    display: grid;
    justify-content: center;
    align-items: center;
    background-image: url(/Users/ellisonrio/sei/sandbox/ellisonr.github.io/wendybite-project.jpg);
    height: 400px;
    width: 700px;
    background-size: cover;
    grid-row: 7;
    border: 4px solid white;
}
footer {
    font-family: 'Tulpen One', cursive;
    display: grid;
    background-color: #51504F;
    color: white;
    font-size: 30px;
    padding: 10px;
    grid-template-columns: 2fr;
}
.footer-right {
    display: grid;
    justify-content: right;
    grid-row: 8;
    grid-column: 2;
}
.footer-left {
    display: grid;
    justify-content: left;
    grid-row: 8;
    grid-column: 1;
}
a:link {
    color: white;
}
a:visited {
    color: #3399ff;
}
a:hover {
    color: #80ff80;
}
